@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>


<div id="frame" style="padding-top: 50px;">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
				<p>Mike Ross</p>
				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" />
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status online"></span>
						<img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
						<div class="meta">
							<p class="name">Louis Litt</p>
							<p class="preview">You just got LITT up, Mike.</p>
						</div>
					</div>
				</li>				
			</ul>
		</div>
		<div id="bottom-bar">
			@*			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>*@
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
			<p id="username">Harvey Specter</p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				<i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="messages">
			<ul>				
				<li class="sent">
					<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
					<p>What are you talking about? You do what they say or they shoot you.</p>
				</li>
				<li class="replies">
					<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
					<p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
				</li>
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
				<input type="text" placeholder="Write your message..." />
				<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
				<button class="submit" onclick="sendmsg()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>


@section Scripts
{
	<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
	<link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+"/>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

	<script src="https://use.typekit.net/hoy3lrg.js"></script>
	<script>
		try {
			Typekit.load({ async: true });
		} catch (e) {
		}
	</script>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
	<link rel="stylesheet" href="~/css/chatpage.css" asp-append-version="true"/>

	<script src='~/js/startnewchatpageuijs.js' type="text/javascript"></script>
	@*	<script src='~/js/websocketconnect.js' type="text/javascript"></script>*@

	<script>
		var myId = '@User.Identity.Name';
		var receiptorId = '';
		var socket;

		$(document).ready(function() {		
			websocketconnect();
			getcontacts();
		});

		function websocketconnect() {
			var host = "ws://localhost:9990";

			try {
				socket = new WebSocket(host);

				//message('<p class="event">Socket Status: '+socket.readyState);

				socket.onopen = function() {
					message('<p class="event">Socket Status: ' + socket.readyState + ' (open)');
				}

				socket.onmessage = function(msg) {
					debugger;
					if ($.trim(msg.data) == '') {
						return false;
					}
					$('<li class="replies"><img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" /><p>' +
						msg.data +
						'</p></li>').appendTo($('.messages ul'));
					$('.contact.active .preview').html('<span>You: </span>' + msg.data);
					$(".messages").animate({ scrollTop: $(document).height() }, "fast");

					//		message('<p class="message">Received: '+msg.data);
				}

				socket.onclose = function() {
					debugger;
					message('<p class="event">Socket Status: ' + socket.readyState + ' (Closed)');
				}

			} catch (exception) {
				debugger;
				message('<p>Error' + exception);
			}

			function send() {
				var text = $(".message-input input").val();

				if (text == "") {
					message('<p class="warning">Please enter a message');
					return;
				}
				try {
					socket.send(text);
					message('<p class="event">Sent: ' + text)

				} catch (exception) {
					message('<p class="warning">');
				}
				$('#text').val("");
			}

			function message(msg) {
				$('#chatLog').append(msg + '</p>');
			}

			$('#text').keypress(function(event) {
				if (event.keyCode == '13') {
					send();
				}
			});

			$('#disconnect').click(function() {
				socket.close();
			});

		} //End connect

		function getcontacts() {
			debugger;
			$.ajax({
				type: "GET",
				url: "/api/account/contacts/",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function(response) {
					debugger;
					if (response.isSucced) {
						if (response.redirect.redirected) {
							window.location.replace(response.redirect.redirectLink);
						} else {
							receiptorId = response.header;
						}
					} else {
						$('#showerrors').empty();
						for (var i = 0; i < response.errors.length; i++) {
							$('#showerrors').removeClass('hidden');
							$('#showerrors').append(response.errors[i] + '<br/>');
						}
					}
				},
				failure: function(response) {
					debugger;
					alert(response.responseText);
				},
				error: function(response) {
					debugger;
					alert(response.responseText);
				}
			});
		}

		function sendmsg() {
			debugger;
			var text = $(".message-input input").val();

			if (text === "") {
				message('<p class="warning">Please enter a message');
				return;
			}
			try {
				socket.send(myId.length + ',' + receiptorId.length + ',' + text.length + ',' + myId + receiptorId + text);
				message('<p class="event">Sent: ' + text)

			} catch (exception) {
				message('<p class="warning">');
			}
			$('#text').val("");
		}
	</script>

}